/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: navajowhite;
}

main {
    margin-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

canvas {
    background-color: ghostwhite;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    box-sizing: content-box;
}
